* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .header__navbar {
    display: none;
  }
}

.header__navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__navbar ul li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.plan__block {
  height: 450px;
  background-image: url(../../img/Bitmap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-left: 150px;
  padding-top: 50px;
}
.plan__block h1 {
  font-size: 72px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .plan__block h1 {
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  .plan__block h1 {
    font-size: 40px;
    text-align: center;
  }
}
.plan__block p {
  font-size: 16px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FEFCF7;
  width: 400px;
  font-size: 15px;
  opacity: 0.8000000119;
}
@media (max-width: 768px) {
  .plan__block p {
    width: 358px;
  }
}
@media (max-width: 375px) {
  .plan__block p {
    width: 279px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .plan__block {
    height: 400px;
    padding-left: 40px;
    padding-top: 85px;
  }
}
@media (max-width: 375px) {
  .plan__block {
    height: 400px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
  }
}

.process__block {
  margin-top: 180px;
  border-radius: 10px;
  background-color: #2C343E;
  height: 600px;
  padding-top: 65px;
  padding-left: 95px;
}
@media (max-width: 768px) {
  .process__block {
    height: 650px;
    padding-left: 40px;
  }
}
@media (max-width: 375px) {
  .process__block {
    height: 1028px;
    padding-left: 0px;
    padding-top: 0px;
  }
}

.process__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
}

.process__path {
  display: flex;
  gap: 336px;
}
@media (max-width: 768px) {
  .process__path {
    gap: 200px;
  }
}
@media (max-width: 375px) {
  .process__path {
    display: none;
  }
}

.process__path::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 0;
  border: 2px solid #FDD6BA;
  margin-top: 14px;
}
@media (max-width: 768px) {
  .process__path::after {
    width: 460px;
    margin-left: 15px;
  }
}

.process__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .process__info {
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .process__info {
    flex-direction: column;
  }
}

.info__box {
  width: 309px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .info__box {
    width: 223px;
    align-items: center;
  }
}

.process__number {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
@media (max-width: 375px) {
  .process__number {
    margin: 30px 0px 0px 0px;
    text-align: center;
  }
}

.process__name {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
}
@media (max-width: 375px) {
  .process__name {
    text-align: center;
    width: 327px;
  }
}

.process__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}
@media (max-width: 375px) {
  .process__text {
    text-align: center;
    width: 327px;
  }
}

.question__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 30px;
}

.underline {
  width: 255px;
  height: 1px;
  opacity: 0.25;
  background: #83888F;
  display: inline-block;
}

.question__type p {
  color: #333D4B;
  font-size: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
@media (max-width: 768px) {
  .question__type {
    display: none;
  }
}

@media (max-width: 375px) {
  .question__box {
    max-width: 375px;
  }
}

.question__texts {
  margin-top: 5px;
}

.question__text {
  display: flex;
  align-items: center;
  gap: 250px;
}
.question__text h2 {
  color: #83888F;
  font-size: 40px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
@media (max-width: 375px) {
  .question__text h2 {
    font-size: 24px;
    width: 240px;
  }
}
@media (max-width: 768px) {
  .question__text {
    justify-content: space-around;
    gap: 90px;
  }
}
@media (max-width: 375px) {
  .question__text {
    gap: 0px;
    justify-content: space-evenly;
    width: 375px;
    margin-top: 50px;
  }
}

.question__boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .question__boxes {
    justify-content: space-evenly;
    gap: 15px;
  }
}
@media (max-width: 375px) {
  .question__boxes {
    flex-direction: column;
  }
}

.grey__box {
  width: 220px;
  height: 250px;
  border-radius: 8px;
  background: #F4F1EB;
  padding-top: 30px;
  padding-left: 20px;
}
.grey__box h2 {
  color: #333D4B;
  font-size: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
.grey__box p {
  color: #333D4B;
  font-size: 16px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 150px;
}
@media (max-width: 375px) {
  .grey__box p {
    width: 240px;
  }
}
@media (max-width: 375px) {
  .grey__box {
    width: 328px;
    height: 140px;
    padding-top: 0px;
  }
}

.green__box {
  width: 220px;
  height: 250px;
  border-radius: 8px;
  padding-top: 30px;
  padding-left: 20px;
  background: #0E8784;
}
.green__box h2 {
  color: #FFF;
  font-size: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
.green__box p {
  color: #FEFCF7;
  font-size: 16px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 150px;
}
@media (max-width: 375px) {
  .green__box p {
    width: 240px;
  }
}
@media (max-width: 375px) {
  .green__box {
    width: 328px;
    height: 140px;
    padding-top: 0px;
  }
}

.orange__box {
  width: 220px;
  height: 250px;
  border-radius: 8px;
  padding-top: 30px;
  padding-left: 20px;
  background: #FDD6BA;
}
.orange__box h2 {
  color: #333D4B;
  font-size: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
.orange__box p {
  color: #333D4B;
  font-size: 16px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 150px;
}
@media (max-width: 375px) {
  .orange__box p {
    width: 240px;
  }
}
@media (max-width: 375px) {
  .orange__box {
    width: 328px;
    height: 140px;
    padding-top: 0px;
  }
}

.question__comment {
  border-radius: 10px;
  background: #2C343E;
  margin-top: 50px;
}
.question__comment h3 {
  color: #FFF;
  font-size: 16px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 50px;
  padding-top: 15px;
}
.question__comment q {
  color: #FFF;
  font-size: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  width: 500px;
  padding-left: 50px;
  padding-bottom: 35px;
}
@media (max-width: 375px) {
  .question__comment q {
    width: 280px;
  }
}
@media (max-width: 375px) {
  .question__comment {
    width: 328px;
    height: 338px;
    margin-left: 22px;
  }
}

.plan__btn {
  width: 200px;
  height: 50px;
  border-radius: 6px;
  background: #66D2CF;
  border: 0px solid;
  color: #FEFCF7;
  text-align: center;
  font-size: 18px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  margin-left: 595px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .plan__btn {
    margin-left: 260px;
  }
}
@media (max-width: 375px) {
  .plan__btn {
    margin-left: 80px;
    margin-top: 50px;
  }
}

.footer__block {
  background: #2C343E;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .footer__block {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
}

.social__nets {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 230px;
}
@media (max-width: 768px) {
  .social__nets {
    margin-left: 0px;
  }
}

.footer__navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 375px) {
  .footer__navbar ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}
.footer__navbar li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}/*# sourceMappingURL=main.css.map */