* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width:$table) {
    max-width: 768px;
  }
  @media (max-width:$phone) {
    max-width: 375px;
  }
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}