.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__navbar ul li a {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}