.process__block {
  margin-top: 180px;
  border-radius: 10px;
  background-color: #2C343E;
  height: 600px;
  padding-top: 65px;
  padding-left: 95px;
}


.process__title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: $color-text-white;
}


.process__path {
    display: flex;
    gap: 336px;
}


.process__path::after {
    content: "";
    position: absolute;
    width: 760px;
    height: 0;
    border: 2px solid #FDD6BA;
    margin-top: 14px;
}

.process__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    margin-bottom: 30px;
}



.info__box {
    width: 309px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.process__number {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.process__name {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: $color-text-white;
}


.process__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color-text-white;
}
